<h1>Eat-Da-Burger!</h1>

<form class="create-form">

  <div class="form-group">
     <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Submit</button>
</form>

<p>Enter a type of burger you want to eat and then click Submit.</p>
